*, *::before, *::after {
    box-sizing: border-box;
}

@font-face {
    font-family: "Made-Dillan";
    src: url("font/made-dillan.woff2") format("woff2"),
    url("font/made-dillan.woff") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Go-Soul";
    src: url("font/gosoul.woff2") format("woff2"),
    url("font/gosoul.woff") format("woff2");
    font-display: swap;
}

:root {
    --grey-light: #EDEDED;
    --grey-dark: #1C1C1C;
    --red: #F9220C;

    --font-made-dillan: "Made-Dillan", arial, helvetica, sans-serif;
    --font-go-soul: "Go-Soul", arial, helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
    line-height: 1.5;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: var(--red);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

body {
    color: var(--red);
    margin: 0;
    font-family: var(--font-made-dillan);
}

h2 {
    color: var(--grey-dark);
    font-size: 1.6rem;
    line-height: 1.2;
}

h4 {
    color: var(--grey-dark);
    max-width: 80%;
    margin: 0 auto;
}

.container {
    max-width: 420px;
    margin: 0 auto;
    padding: 0 1.4rem;
}

.header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 2rem;
    animation: fadein 800ms forwards;

    &__logo {
        width: 100%;
        max-width: 140px;
        margin-bottom: 0.6rem;
    }
}

.nav {
    width: 100%;
    font-size: 1.6rem;

    &__list {
        display: flex;
    }

    &__item {
        width: 50%;
        display: flex;
        justify-content: center;
    }

    &__nav-link {
        padding: 0 2rem;
    }
    
}

@keyframes fadein {
    0% { 
        opacity: 0;
        transform: translateY(20%);
    }
    50% { opacity: 0;}
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero {
    background-image:url("img/hhh-snow-mbl.gif");
    background-size: cover;
    padding-bottom: 0rem;
    
    &__content {
        text-align: center;
        padding: 1rem;
        opacity: 1;
        animation: fadein 800ms forwards;
    }

    &__title {
        font-size: 3rem;
        line-height: 1.1;
        margin: 0.6rem 0
    }

    &__sun-box {
        margin: 0 auto;
        max-width: 300px;
        display: grid;
        justify-items: center;
        align-items: center;

    }

    &__info {
        color: whitesmoke !important;        
        max-width: 80%;
        font-size: 1.4rem;
        line-height: 1.3;
        color: var(--grey-dark);
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        z-index: 666;
        margin-top: 0;
        margin-bottom: 2rem;
    }
    
    &__sun {
        margin-left: 6px;
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        
    }
}

#solutions {
    padding-top: 4rem;
}
.solutions {
    background-image: url("/img/hhh-bg.jpg");
    border-top: 1px solid var(--red);
    border-bottom: 1px solid var(--red);
    text-align: center;
    padding-bottom: 10rem;

    &__title {
        border: 1px solid var(--red);
        box-shadow: 0 5px 0 var(--red);
        border-radius: 100%;
        padding: 2rem;
        transform: translateY(-70%);
        text-align: center;
        background-color: white;
    }

    &__content {
        margin-top: -4rem;
    }

    &__single {
        margin: 5rem 0;
    }

    &__subtitle {
        font-size: 4.6rem;
        max-width: 320px;
        margin: 0 auto;
        line-height: 1;
        letter-spacing: -1px;
        font-family: var(--font-go-soul);
    }

    &__price {
        font-size: 2.4rem;
        margin: 1rem 0;
    }

    &__info {
        font-size: 1.5rem;
        color: var(--grey-dark);
        max-width: 240px;
        margin: 0 auto;
    }
}

.delivery {

    &__img-box {
        transform: translateY(-50%);
        margin-bottom: -8rem;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    &__img {
        max-width: 300px;
    }

    &__title {
        color: var(--grey-dark);
    }

    &__info {
        font-size: 2.6rem;
        line-height: 1.2;
    }

    &__fine-print {
        color: var(--grey-dark);
        max-width: 100%;
        text-indent: -6px;
    }
}

#contact {
    padding-top: 7rem;
}

.contact {
    background-image: url("/img/hhh-bg.jpg");
    padding-bottom: 4rem;

    &__call {
        background-color: white;
        transform: translateY(-50%);
        line-height: 1;
        overflow: hidden;
        border: 1px solid var(--red);
        box-shadow: 0 5px 0 var(--red);
        border-radius: 100%;
        padding: 2rem 2rem 3.2rem;
        text-align: center;

        &-now {
            color: var(--grey-dark);
            font-size: 1.4rem;
            margin: 1rem 0 0.8rem 0;
        }

        &-number {
            font-family: var(--font-go-soul);
            font-size: 1.8rem;

        }
    }

    &__form {

        margin-top: -4rem;

        label {
            display: block;
            margin: 0.6rem 0;
        }
        input, textarea {
            font-size: 1.1rem;
            font-family: Arial, Helvetica, sans-serif;
            width: 100%;
            background: white;
            border: 1px solid var(--grey-dark);
            border-radius: 25px;
            color: var(--grey-dark);
            padding: 1rem 1rem;
            transition: border 400ms;
        }
        textarea {
            min-height: 200px;
            resize: vertical;
            margin-bottom: 2rem;
        }

        .contact__button {
            font-family: var(--font-made-dillan);
            background: var(--red);
            color: white;
            text-transform: uppercase;
            font-size: 1.4rem;
            letter-spacing: 1px;
            padding: 0.6rem 1.2rem;
            border: none;
            width: 100%;
            display: flex;
            justify-content: center;
            border-radius: 25px;
        }
        
        input, textarea, .contact__button {
            &:focus {
                outline: none;
                border: 1px solid var(--red);
            }
        }
    }
}

footer {
    background: var(--grey-dark);
    color: white;
    text-align: center;
    padding: 2rem;
}

@media (min-width: 600px) {

    .hero {
        background-image:url("img/hhh-snow-dsk.gif");
    }

    .container {
        max-width: 520px;
    }
}

@media (min-width: 900px) {

    html {
        font-size: 16px;
    }
    .container {
        max-width: 940px;
    }

    .header {
        // margin-top: 1rem;
        justify-content: space-between;
        align-items: center;
        &__logo {
            width: 160px;
        }
    }

    .nav {
        width: auto;

        &__item {
            margin-left: 2rem;
        }

        &__link {
            cursor: hand;
            border-bottom: 2px solid transparent;
            transition: border-bottom 300ms;

            &:hover {
                border-bottom: 2px solid var(--red);
            }
        }
    }

    .hero {
        // min-height: 100vh;

        &__content {
            max-width: 700px;
            margin: 0 auto;
        }
        &__title {
            font-size: 4rem;
            letter-spacing: 2px;
            line-height: 1;
            margin: 0 0 1.4rem 0;
            // max-width: 70%;
        }

        &__sun-box {
            max-width: 420px;
        }
        &__info {
            // padding: 0 6rem;
            font-size: 1.4rem;
        }

    }

    #solutions {
        padding-top: 6rem;
    }
    .solutions {

        padding-bottom: 6rem;
        
        &__title {
            transform: translateY(-50%);
            max-width: 420px;
            margin: 0 auto;
        }

        &__single {
            margin-top: 2rem;
            transition: transform 400ms ease-out;

            &:hover {
                cursor: pointer;
                transform: scale(1.05);
            }
        }

        &__content {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;
            margin-top: 0;
        }

        &__info {
            font-size: 1.4rem;
            max-width: 80%;
            line-height: 1.2;
        }
    }

    .two-columns {
        display: flex;
        max-width: 940px;
        margin: 0 auto;
        margin-bottom: 4rem;
    }

    #delivery {
        width: 55%;
        padding: 3rem;
    }

    .delivery {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        margin-top: 5rem;

        &__img-box {
            transform: translateY(0);
        }

        &__img {
            max-width: 90%;
        }

        &__fine-print {
            max-width: 80%;
        }
    }

    #contact {
        width: 45%;
        padding: 3rem;
    }

    .contact {
        margin-top: 6rem;
        border: 1px solid var(--red);
        box-shadow: 8px 8px 0 var(--red);

        h2 {
            text-align: center;
        }

        &__call-number {
            font-size: 1.4rem;
        }
    }
    
}